body{
    width: 1000px;
    height: 800px;
    margin: auto;
    background-color: rgb(248, 248, 247);
} 
header{
    width: 650px;
    height: 120px;
    background-color: rgb(252, 249, 246);
}
 img{
    width: 120px;
    height: 120px;
    left: 50px;
    float: left;
    border-radius: 100%;
 }
 h1{
     padding-top: 10px;
     text-align: right;
     margin: 20px;
     
 }
 h2{
     color: rgb(248, 247, 247);
     padding: 50px;
 }

 h4{    
     text-align: right;
     opacity: 0.5;
     margin: 20px;

 }
 main{
     width: 650px;
     height: 500px;
     background-color: rgb(252, 249, 246);
 }
 aside{
     width: 350px;
     height:800px;
     float: right;
     background-color: rgb(45, 45, 99);
 }
 footer{
    width: 650px;
    height: 120px;
    background-color: rgb(252, 249, 246);

 }
 

